<div class="settings-screen">
  <div class="container">
    <div class="account">
      <div class="heading">
        <h1>ACCOUNT</h1>
      </div>
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-2 pr-0">
              <div class="icon">
                <i class="fas fa-user-circle"></i>
              </div>
            </div>
            <div class="col-10">
              <div class="title">
                <p routerLink="/auth/my-profile">My Profile Details</p>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-2 pr-0">
              <div class="icon">
                <i class="fab fa-product-hunt"></i>
              </div>
            </div>
            <div class="col-10">
              <div class="title">
                <p>My Upvoted Posts</p>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-2 pr-0">
              <div class="icon">
                <i class="fab fa-gratipay"></i>
              </div>
            </div>
            <div class="col-10">
              <div class="title">
                <p>My Liked Events</p>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="customize">
      <div class="heading">
        <h1>CUSTOMIZE</h1>
      </div>
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-2 pr-0">
              <div class="icon">
                <i class="fas fa-moon"></i>
              </div>
            </div>
            <div class="col-10">
              <div class="title">
                <p>Dark Mode</p>
                <p class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-2 pr-0">
              <div class="icon">
                <i class="fas fa-paint-brush"></i>
              </div>
            </div>
            <div class="col-10">
              <div class="title">
                <p>Accent Color</p>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-2 pr-0">
              <div class="icon">
                <i class="fas fa-bell"></i>
              </div>
            </div>
            <div class="col-10">
              <div class="title">
                <p>Receive Notifications</p>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-2 pr-0">
              <div class="icon">
                <i class="fas fa-exclamation-triangle"></i>
              </div>
            </div>
            <div class="col-10">
              <div class="title">
                <p>Sign Out</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
