@import '/src/styles.scss';

.my-profile-screen {
	padding: 25px 0;
  .my-profile-inputs {
    .img-uploader {
      padding-bottom: 25px;
    }
    .update-btn {
      padding-top: 10px;
    }
  }
}

@media screen and (max-width: 600px)
{
  .my-profile-screen{
    .rounded-btn{
      width: 100%;
      height: auto;
    }
  }
}
