@import '/src/styles.scss';

.activity-details-screen {
  .detail-card {
    padding: 20px 0;
    p {
      &.title {
        font-size: 18px;
        font-weight: 600;
        color: $darkDefault;
      }
      &.time {
        font-size: 13px;
        font-weight: 500;
        padding-top: 3px;
        color: $darkDefault;
      }
      &.content {
        font-size: 16px;
        color: $lightDefault;
        padding-top: 14px;
      }
    }
  }
}
