<div class="event-details-screen">
  <div class="group-bg-cover" style="background-image: url(/assets/img/bg-cover.jpg);"></div>

  <div class="container">
    <div class="detail-card">
      <p class="title">Message from the UWI Inter campus guild presidents</p>
      <a class="chip-icon-btn">Event</a>
      <div class="date-time">
        <p><i class="far fa-calendar-alt"></i>17 July 2021</p>
        <p><i class="far fa-clock"></i>08:46 PM</p>
      </div>
      <p class="location"><i class="fas fa-map-marker-alt"></i>Tampa Florida</p>
      <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
  </div>
</div>
