<div class="add-edit-activity-screen">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-4">
        <div class="addedit-activity-inputs">
          <form [formGroup]="programForm">
            <div class="img-uploader">
              <app-img-uploader></app-img-uploader>
            </div>

            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title" formControlName="title">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" rows="3" placeholder="Description" formControlName="description"></textarea>
            </div>
            <div class="form-group">
              <label>Activity Type</label>
              <select class="form-control" formControlName="activityType">
                <option *ngFor="let item of activityTypes" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
            <div class="form-group" *ngIf="showEventFields">
              <label>Date & Time</label>
              <input type="datetime-local" class="form-control" placeholder="Date Time" formControlName="dateTime">
          </div>
          <div class="form-group" *ngIf="showEventFields">
            <label>Event Location</label>
            <input type="text" class="form-control" placeholder="Event Location" formControlName="location">
        </div>

            <div class="add-edit-btn">
              <a class="rounded-btn">Add Activity</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
