@import '/src/styles.scss';

.group-details-screen {
  .group-bg-cover {
    width: 100%;
    height: 235px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .group-info {
    padding: 12px 0 20px 0;
    .left-side {
      img {
        width: 90px;
        height: 90px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        box-shadow: 1px 1px 10px #ccc;
        background: #ffff;
        display: block;
        margin: auto;
        position: relative;
        bottom: 40px;
        padding: 6px;

      }
    }
    .right-side {
      h2 {
        font-size: 18px;
        font-weight: 600;
        color: $darkDefault;
      }
      p {
        font-size: 12px;
        color: $lightDefault;
        font-weight: 500;
        padding: 5px 0 15px 0;
      }
      .info-date-btns {
        display: flex;
        a {
          &.r-btn {
            @include rounded-btn-mixin(105px);
            font-size: 16px;
          }
        }
      }
    }
  }
  .detail-cards {
    padding: 12px 0;
    background-color: #f1f1f1;
    .card {
      margin-top: 8px;
      .card-body {
        p {
          &.title {
            font-size: 18px;
            font-weight: 600;
            color: $darkDefault;
          }
          &.time {
            font-size: 13px;
            font-weight: 500;
            padding-top: 3px;
            color: $darkDefault;
          }
          &.content {
            font-size: 16px;
            color: $lightDefault;
            padding-top: 14px;
          }
        }
      }
    }
  }
}
