@import '/src/styles.scss';

.add-edit-group-screen {
	padding: 25px 0;
  .addedit-group-inputs {
    .img-uploader {
      padding-bottom: 25px;
    }
    .add-edit-btn {
      padding-top: 10px;
    }
  }
}

@media screen and (max-width: 600px)
{
  .add-edit-group-screen{
    .rounded-btn{
      width: 100%;
      height: auto;
    }
  }
}
